#container-cabecario{
    height: 130px;
    background-color: #68D8B0;
    display: flex;
}

#img-logo{
    padding-top: 15px;
    padding-left:20px
}

#titulo-cabecario{
    padding-top: 60px;
    padding-left: 20px ;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#sair-button {
    margin-left: auto;
    margin-right: 40px;;
    margin-top: 45px;
}

button#Sair {
    padding: 10px 20px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
   






#container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

#CadastrodeAnimais {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
#novaficha {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilizando para telas pequenas (responsividade) */
@media (max-width: 600px) {
    form {
        width: 100%;
    }
}
#observacoes{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    margin-right: 10px;
    margin: 10px 0;
}
button#cancelar{
    width: 129px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D8686F;
    color: black;
}
button#salvar {
    width: 129px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #68D8B0;
    color: black;
}
#atendimento{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#animal {
    width: 100%;
    padding: 10px; /* Ajuste o padding conforme necessário */
    box-sizing: border-box;
    margin-bottom: 10px;
}

button#novaFicha{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}


button#cadastrarAnimal{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}

button#buscarFicha{
    font-size: 20px;
    font-family: "Roboto";
    width: 351px;
    height: 47px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #010101;
    background: #FBFBFB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    margin-top: 10px;
}

#buscarficha {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

#buscar-ficha {
    display: flex;
}
#procurarAnimal {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 10px;
}
#buscarFichas {
    list-style: none;
    display: flex;
    margin-right: 200px;
}
#buscarFichas li {
    margin-right: 80px;
}
#buscarFichas li strong {
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgba(1, 1, 1, 1);
}








#container-rodape{
    background-color: #68D8B0;
    height: 200px;
    align-items: center;
    padding: 10px;
    display: flex;
}

#img-logo-rodape {
    padding-left: 20px;
    margin-right: 395px;
}

#links-rodape {
    display: flex;
}

#lista-rodape {
    list-style: none;
    display: flex;
    margin-right: 50px;
}

#lista-rodape li {
    margin-right: 300px;
}

#lista-rodape li strong {
    font-weight: bold;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
    color: rgba(1, 1, 1, 1);
}

button#botao-home {
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
}
button#informacoes {
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 300px;
}
button#faq{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 270px;
}
button#sobreEmpresa {
    padding: 5px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 355px;
}
button#telefone{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 240px;
}
button#chat{
    padding: 5px;
    margin-top: 10px;
    background-color: #68D8B0;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: bold;
    margin-left: 730px;
}

@media (max-width: 500px) {
    /* Adapte conforme necessário para telas pequenas */
    #container-rodape {
        flex-direction: column;
        align-items: flex-start;
    }

    #links-rodape {
        margin-top: 10px;
    }
}




#buscar-ficha input[type="text"] {
    width: 400px; /* Ajusta a largura da barra de pesquisa */
}

#buscarFichas {
    list-style: none;
    display: flex;
    margin-right: 200px;
    margin-bottom: 20px; /* Adiciona espaço abaixo da lista de animais */
}

#buscarFichas li {
    margin-right: 80px;
}

#buscarFichas li strong {
    font-size: 20px; /* Tamanho do título */
    font-weight: bold; /* Negrito */
    font-family: "Roboto";
    color: rgba(1, 1, 1, 1);
    margin-bottom: 10px; /* Adiciona espaço abaixo do título */
    padding: 10px;
}

#listaAnimais button {
    width: 500px; /* Ajusta a largura dos botões */
    font-size: 18px; /* Ajusta o tamanho do texto dos botões */
    margin-bottom: 10px; /* Adiciona espaço entre os botões */
    
}

#listaAnimais button span {
    margin-right: 20px; /* Adiciona espaço entre as informações */
}

#tituloAnimais {
    display: flex;
    justify-content: space-between;
    width: 500px; /* Define a largura total */
}

#tituloAnimais strong {
    flex: 1; /* Distribui o espaço igualmente entre os títulos */
    text-align: center; /* Centraliza o texto */
    font-weight: bold;
}
